<header>Header</header>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/list">Lista</a>
</nav>
<router-outlet></router-outlet>
<footer>footer</footer>
<!-- <app-first-component [numeros]="teste"></app-first-component>
<app-parent-data [data]="userData" [name]="userName" ></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-events></app-events>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding> -->
